body {
    background-color: white;
    margin: 0px;
}

#slides {
    margin-right: 178px;
    position: relative;
    height: 823px;
}

.slide {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    background-size: cover;
    background-position: center;
}

#createdBy {
    margin: 77px 0px 54px 99px;
    font-size: 25px;
    position: relative;
}

.createdByText {
    position: absolute;
    margin-top: 250px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.createdByText.show {
    opacity: 1;
    z-index: 2;
}

#box4Head {
    margin: 11px 45px 0px 97px;
    position: relative;
}

.box4text {
    position: absolute;
    font-size: 65px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.box4text.showText {
    opacity: 1;
    z-index: 2;
}

.slide.showing {
    opacity: 1;
    z-index: 2;
}


/* .createdByText:nth-of-type(1) {
    background-color: tomato;
}

.createdByText:nth-of-type(2) {
    background-color: saddlebrown;
}

.createdByText:nth-of-type(3) {
    background-color: green;
} */

.slide:nth-of-type(1) {
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100%; */
    background-size: 95% 100%;
    ;
    width: 100%;
    background-image: url('./assets/images/girl_desktop.png');
}

.slide:nth-of-type(2) {
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100%; */
    background-size: 95% 100%;
    ;
    width: 100%;
    background-image: url('./assets/images/nikola-stojanovic-ObLkqLhLZ_E-unsplash.jpg');
}

.slide:nth-of-type(3) {
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100%; */
    background-size: 95% 100%;
    ;
    width: 100%;
    background-image: url('./assets/images/ali-arif-soydas-sTNx6633o_s-unsplash.jpg');
}

#dotsDesktop {
    margin-top: -23px;
    margin-left: 594px;
    grid-row: 6;
    grid-column: 2;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.dotDesktop {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #333;
    cursor: pointer;
    display: inline-block;
    margin: 0 4px 0 4px;
}

.dotDesktop:hover,
.dotDesktop:focus,
.dotDesktop.active {
    background: yellow;
}

.top {
    display: inline;
}

.header {
    background-color: white;
}

.wrapper {
    background-color: black;
    width: 100%;
    max-width: 120rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
    margin-right: auto;
    margin-left: auto;
}

.wrapper>div {}

.searchBtn {
    float: left;
}

.box1 {
    height: 50px;
    grid-column: 1;
    grid-row: 1;
}

.box2 {
    grid-column: 4;
    grid-row: 1;
    margin: 45px 40px 0px 0px;
}

.box2 img {
    margin-top: 10px;
    width: 39px;
    margin-right: 11px;
}

.box2 .inputSearch {
    float: right;
}

.box3 {
    /* background: url(./assets/images/Girl.png); */
    background-size: cover;
    /* margin: 73px 98px 81px -468px; */
    margin-top: 90px;
    background-position: center;
    grid-column: 2/5;
    grid-row: 2/7;
}

.box4 {
    /* margin: 81px 0px 0px 194px; */
    height: 444px;
    margin-top: 71px;
    margin-left: -127px;
    width: 540px;
    grid-column: 2;
    grid-row: 4/4;
    background-color: rgb(19, 19, 19);
    z-index: 2;
}

.box4 p {
    /* font-size: 60px; */
    color: aliceblue;
}

.box4Head {
    /* padding: 8px 153px 7px 103px; */
    padding: 8px 98px 8px 103px;
    font-size: 57px;
    line-height: 1.2;
}

.createdBy {
    padding-left: 108px;
    margin-top: -48px;
}

.date {
    margin-left: -2px;
    margin-top: -15px;
}

.box4Line {
    height: 3px;
    width: 40px;
    background: yellow;
    position: absolute;
    margin-top: 304px;
    transform: rotate(1deg);
}

.background {
    display: none;
}

.box5 {
    /* align-self: start; */
    grid-column: 1/4;
    grid-row: 1;
}

.navbar {
    margin: 74px 0px -13px 339px;
}

.box5 a {
    /* align-self: start; */
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 60px;
    font-size: 26.519px;
    font-family: 'Raleway', sans-serif;
}

#logo {
    height: 154px;
    margin-left: 106px;
    margin-top: 37px;
    padding: 16px;
}

.dots {
    margin-left: 47px;
    display: none;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.box4 #yelowDot {
    background-color: yellow;
}

.calvi {
    grid-row: 8;
    grid-column: 1/4;
    grid-column: 1/6;
    margin: -116px -1px 0px -4px;
}

.calvi img {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

.slash {
    margin-left: 10px;
    height: 1px;
    width: 16px;
    background: yellow;
    position: absolute;
    margin-top: 10px;
    transform: rotate(-54deg);
}

.icon {
    position: absolute;
    top: 61px;
    margin-left: 29px;
}

::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

input[type=text],
select {
    /* background: url('./assets/images/icon.png') no-repeat left center; */
    background-color: rgb(19, 19, 19);
    width: 265px;
    height: 69px;
    padding: 16px 66px;
    margin-top: 8px;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid rgb(19, 19, 19);
    border-radius: 2px;
    box-sizing: border-box;
}

.contanier {
    grid-row: 9;
    grid-column: 1/6;
    margin-top: -4px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
    height: 1107px;
    width: auto;
    margin-right: -1px;
    margin-top: -20px;
}

.heading {
    /* display: inline; */
    margin-top: 43px;
    margin-left: 319px;
    grid-row: 1;
    grid-column: 1;
    font-family: 'Lora', serif;
}

.heading p {
    font-weight: 800;
}

#part1 {
    display: inline;
    font-size: 123px;
}

#part2 {
    margin-top: 29px;
    position: absolute;
    display: inline;
    font-size: 119px;
}

.card1 {
    background: url('./assets/images/cocktail.png');
    background-size: cover;
    background-position: center;
    grid-column: 1;
    margin-bottom: 250px;
    grid-row: 2;
    height: 702px;
    width: 545px;
    margin-left: 253px;
    margin-top: 47px;
}

.card1Text {
    width: 210px;
    font-size: 30px;
    float: right;
    margin-right: -152px;
    margin-top: 216px;
}

.card2 {
    margin-top: 45px;
    margin-right: -100px;
    grid-row: 2;
}

.card21 {
    background: url('./assets/images/schwepes.JPG');
    background-size: cover;
    background-position: center;
    float: right;
    background-color: black;
    width: 650px;
    height: 420px;
    margin-top: -31px;
    margin-right: -44px;
}

.card21 p {
    margin-top: 171px;
    padding: 132px 143px 24px 63px;
    font-size: 27px;
    color: white;
}

.card3 {
    margin-top: -52px;
    grid-row: 3;
    grid-column: 2;
}

.card31 {
    background: url('./assets/images/viski.JPG');
    background-size: cover;
    background-position: center;
    float: right;
    background-color: black;
    width: 650px;
    height: 420px;
    margin-right: -144px;
    margin-top: 117px;
}

.card31 p {
    font-size: 26px;
    color: white;
    margin-top: 200px;
    padding: 97px 171px 13px 63px;
}

.black {
    grid-row: 11;
    height: 500px;
    background-color: black;
}

.line {
    margin-left: 149px;
    margin-top: 13px;
    height: 2px;
    width: 734px;
    background: yellow;
    position: absolute;
    margin-top: 74px;
    transform: rotate(-15deg);
}


/* Media Queries */

@media(max-width:1680px) {
    #logo {
        height: 130px;
    }
    .box4 {
        margin: 81px 0px 0px 194px;
        height: 409px;
        width: 509px;
    }
    .box4Head {
        padding: 7px 92px 7px 103px;
        font-size: 54px;
    }
    .box5 a {
        font-size: 21.519px;
    }
    .card1 {
        height: 629px;
        width: 490px;
    }
    .card21 {
        width: 589px;
        height: 381px;
    }
    .card31 {
        margin-top: 49px;
        position: relative;
        width: 589px;
        height: 381px;
    }
    .contanier {
        margin-top: -20px;
    }
    .black {
        grid-row: 10;
        grid-column: 1/6;
        height: 500px;
        margin-top: -78px;
    }
    .line {
        width: 578px;
    }
}

@media(max-width:1440px) {
    #logo {
        height: 118px;
        margin-left: 49px;
    }
    ul {
        margin-left: -135px;
    }
    .box2 img {
        width: 31px;
    }
    .box5 a {
        font-size: 18.519px;
    }
    input[type=text],
    select {
        height: 51px;
    }
    .box3 {
        margin: 76px 97px 86px -395px;
    }
    .box4 {
        height: 369px;
        width: 450px;
    }
    .box4Head {
        padding: 19px 56px 8px 77px;
        font-size: 48px;
    }
    .createdBy {
        padding-left: 81px;
    }
    .card1 {
        height: 525px;
        width: 395px;
    }
    .card1Text {
        width: 189px;
        font-size: 23px;
        margin-right: -152px;
        margin-top: 172px;
    }
    #part1 {
        font-size: 90px
    }
    #part2 {
        font-size: 86px;
    }
    .card21 {
        width: 483px;
        height: 295px;
    }
    .card21 p {
        font-size: 23px;
        margin-top: 67px;
        padding: 148px 156px 16px 41px;
    }
    .card31 {
        margin-top: -410px;
        width: 483px;
        height: 295px;
    }
    .card31 p {
        font-size: 22px;
        margin-top: 100px;
        padding: 143px 147px 14px 63px;
    }
    .black {
        margin-top: -284px;
    }
    .line {
        margin-left: 149px;
        margin-top: 13px;
        width: 455px;
        margin-top: 35px;
    }
}

@media (max-width: 1024px) {
    #logo {
        height: 102px;
        margin-left: 23px;
    }
    .box2 .inputSearch {
        display: none;
    }
    .navbar {
        margin: 74px 0px -13px 282px;
    }
    .box2 img {
        margin-top: 10px;
        margin-right: 15px;
        width: 26px;
    }
    .box3 {
        margin: 76px 97px 86px -521px;
        grid-column: 3/5;
    }
    .box4 {
        padding: 0px;
        margin-left: 52px;
        width: 316px;
        height: 290px;
    }
    .createdBy {
        padding-left: 54px;
    }
    .box4Head {
        padding: 1px 23px 17px 51px;
        font-size: 36px;
    }
    .box5 a {
        font-size: 14.519px;
    }
    .heading {
        margin-left: 117px;
    }
    .card1 {
        margin-bottom: 289px;
        margin-left: 60px;
        margin-top: 0px;
        height: 368px;
        width: 301px;
    }
    .card1Text {
        width: 153px;
        font-size: 20px;
        margin-right: -121px;
        margin-top: 83px;
    }
    .card2 {
        margin-top: -40px;
    }
    .card21 {
        width: 404px;
        height: 235px;
        margin-right: -50px;
    }
    .card21 p {
        font-size: 18px;
        margin-top: 22px;
        padding: 148px 146px 16px 41px;
    }
    .card31 {
        width: 404px;
        height: 235px;
        margin-right: -150px;
        margin-top: -507px;
    }
    .card31 p {
        font-size: 18px;
        margin-top: 41px;
        padding: 139px 130px 11px 32px;
    }
    #part1 {
        font-size: 67px;
    }
    #part2 {
        margin-top: 20px;
        font-size: 63px;
    }
    .contanier {
        margin-top: -20px;
    }
    .line {
        width: 308px;
    }
    .black {
        margin-top: -497px;
    }
}

@media (max-width:768px) {
    #logo {
        position: absolute;
    }
    .box2 img {
        margin-top: 28px;
        width: 39px;
        height: 42px;
        margin-left: -21px;
        position: absolute;
    }
    .navbar {
        display: none;
    }
    .box3 {
        margin: -105px -16px -4px 0px;
        grid-column: 1/5;
        grid-row: 1/7;
    }
    .box4 {
        margin: auto;
        grid-column: 1/1;
        grid-row: 5/7;
        width: 418px;
        height: 359px;
    }
    .box4Head {
        padding: 6px 29px 5px 79px;
        line-height: 1.3;
        font-size: 45px;
    }
    .createdBy {
        display: none;
    }
    .dots {
        display: block;
    }
    .calvi {
        background: url(./assets/images/Calvi_mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 785px 293px;
        height: 302px;
        margin-top: -136px;
    }
    .calvi img {
        display: none;
    }
    .card1 {
        margin-bottom: 289px;
        margin-left: 11px;
        margin-top: -73px;
        height: 368px;
        width: 301px;
    }
    .card1Text {
        width: 68px;
        font-size: 19px;
        margin-right: -40px;
        margin-top: 112px;
    }
    .heading {
        margin-top: 4px;
        margin-left: 39px;
    }
    .card2 {
        margin-top: -72px;
    }
    .black {
        height: 533px;
        margin-top: -540px;
    }
    .card21 {
        width: 351px;
        height: 205px;
    }
    .card21 p {
        padding: 109px 146px 16px 41px;
    }
    .card31 {
        width: 351px;
        height: 205px;
    }
    .card31 p {
        padding: 79px 130px 11px 32px;
    }
    .line {
        width: 207px;
    }
}

@media(max-width:414px) {
    .wrapper {
        /* background: url(./assets/images/Girl.png);
        background-position: center;
        background-size: cover; */
        display: block;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
        justify-items: stretch;
        align-items: stretch;
        /* height: 600px; */
    }
    .background {
        display: block;
        background: url(./assets/images/girl\ mobile.png);
        margin-top: -249px;
        background-repeat: no-repeat;
        background-position: 46% 100%;
        height: 789px;
        background-size: 418px 699px;
    }
    .navbar {
        display: none;
    }
    #logo {
        margin-top: -1px;
        margin-left: 9px;
        height: 80px;
    }
    .box1 {
        height: 50px;
        grid-column: 1/5;
        grid-row: 1;
    }
    .box2 {
        grid-column: 3;
        grid-row: 1;
        margin-left: -44px;
    }
    .box2 img {
        margin-top: -64px;
        width: 39px;
        height: 42px;
        margin-left: -21px;
        position: absolute;
    }
    /* For desktop: */
    .box4 {
        margin: 240px 0px 0px 0px;
        float: left;
        height: 299px;
        width: 309px;
    }
    .box4Head {
        padding: 4px 33px 16px 30px;
        line-height: 1.3;
    }
    .box4 p {
        font-size: 34px;
    }
    .dots {
        margin-left: 58px;
        margin-top: -30px;
    }
    .createdBy {
        display: none;
    }
    .dots {
        display: block;
    }
    .calvi {
        background: url(./assets/images/Calvi_mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 424px 242px;
        height: 316px;
        margin-top: -37px;
    }
    .black {
        margin-top: 0px;
    }
    .calvi img {
        width: 100%;
        display: none;
    }
    .heading {
        margin-top: 41px;
        margin-left: 20px;
        grid-row: 1;
        grid-column: 1;
    }
    .card1 {
        margin-top: -48px;
        height: 308px;
        width: 251px;
        margin-left: -5px;
    }
    .card1Text {
        font-size: 22px;
        width: 128px;
        float: right;
        margin-right: -108px;
        margin-top: 40px;
    }
    .card2 {
        margin-top: 53px;
        margin-left: 49px;
        grid-row: 3;
    }
    .card21 {
        background: url('./assets/images/schwepes.JPG');
        background-position: 126% 100%;
        background-repeat: no-repeat;
        background-size: 385px 223px;
        float: none;
        width: 338px;
        height: 216px;
        margin-top: -426px;
    }
    .card21 p {
        padding: 122px 59px 16px 41px;
        font-size: 21px;
        margin: 0px;
    }
    .card3 {
        display: none;
        ;
    }
    .contanier {
        margin-top: -37px;
    }
    .line {
        margin-left: 160px;
        width: 216px;
    }
    .black {
        margin-top: -399px;
    }
}

@media (max-width: 376px) {
    #dotsDesktop {
        margin-left: 0px;
        z-index: 3;
        position: relative;
        margin-top: -120px;
    }
    #createdBy {
        display: none;
    }
    #slides {
        margin: 0;
    }
    .slide:nth-of-type(1) {
        width: 96%;
        margin: -33px 0px 0px 0px;
        background-size: 1065px 811px;
    }
    .slide:nth-of-type(2) {
        width: 96%;
        margin: -33px 0px 0px 0px;
        background-size: 1065px 811px;
    }
    .slide:nth-of-type(3) {
        width: 96%;
        margin: -33px 0px 0px 0px;
        background-size: 1065px 811px;
    }
    .wrapper {
        /* background: url(./assets/images/Girl.png);
        background-position: center;
        background-size: cover; */
        display: block;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
        justify-items: stretch;
        align-items: stretch;
        /* height: 600px; */
    }
    .searchBtn {
        float: right;
    }
    .background {
        margin-left: 0px;
        background: url(./assets/images/girl\ mobile.png);
        margin-top: -237px;
        background-repeat: no-repeat;
        background-position: 47% 100%;
        height: 811px;
        background-size: 377px 682px;
        display: none;
    }
    .navbar {
        display: none;
    }
    #logo {
        z-index: 3;
        margin-top: -1px;
        margin-left: 9px;
        height: 80px;
    }
    .box1 {
        height: 50px;
        grid-column: 1/5;
        grid-row: 1;
    }
    .box2 {
        grid-column: 3;
        grid-row: 1;
        margin-left: -44px;
    }
    .box2 img {
        z-index: 3;
        margin-top: -64px;
        width: 39px;
        height: 42px;
        margin-left: -21px;
        position: absolute;
    }
    /* For desktop: */
    .box4 {
        position: relative;
        display: block;
        margin: -250px 0px 0px -21px;
        float: left;
        height: 317px;
        width: 319px;
    }
    .box4Head {
        padding: 4px 33px 16px 30px;
        line-height: 1.3;
    }
    .box4 p {
        font-size: 34px;
    }
    .dots {
        margin-left: 58px;
        margin-top: -30px;
    }
    .createdBy {
        display: none;
    }
    .dots {
        display: none;
    }
    .calvi {
        background: url(./assets/images/Calvi_mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 384px 242px;
        height: 316px;
        margin-top: 28px;
    }
    .black {
        margin-top: 0px;
    }
    .calvi img {
        width: 100%;
        display: none;
    }
    .heading {
        margin-top: 41px;
        margin-left: 20px;
        grid-row: 1;
        grid-column: 1;
    }
    .card1 {
        margin-top: -48px;
        height: 308px;
        width: 251px;
        margin-left: -5px;
    }
    .card1Text {
        font-size: 22px;
        width: 128px;
        float: right;
        margin-right: -108px;
        margin-top: 40px;
    }
    .card2 {
        margin-top: 53px;
        margin-left: 25px;
        grid-row: 3;
    }
    .card21 {
        background: url('./assets/images/schwepes.JPG');
        background-position: 126% 100%;
        background-repeat: no-repeat;
        background-size: 385px 223px;
        float: none;
        width: 338px;
        height: 216px;
        margin-top: -426px;
    }
    .card21 p {
        padding: 122px 59px 16px 41px;
        font-size: 21px;
        margin: 0px;
    }
    .card3 {
        display: none;
        ;
    }
    .contanier {
        margin-top: -37px;
    }
    .line {
        margin-left: 160px;
        width: 191px;
    }
    .black {
        margin-top: -399px;
    }
}

@media (max-width: 320px) {
    .box4 {
        width: 321px
    }
    .calvi {
        background-size: 325px 246px;
    }
    .card1Text {
        font-size: 20px;
        width: 105px;
        float: right;
        margin-right: -75px;
        margin-top: 40px;
    }
    .card21 {
        margin-left: -21px;
        width: 328px;
        height: 209px;
    }
    .line {
        margin-left: 135px;
        width: 189px;
    }
}