    body {
        background-color: black;
        margin: 0px;
    }
    
    .header {
        background-color: black;
    }
    
    .wrapper {
        /* background-color: black; */
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
        justify-items: stretch;
        align-items: stretch;
        height: 1000px;
    }
    
    .wrapper>div {
        /* background: #eee; */
        /* padding: 1em; */
    }
    
    .box1 {
        height: 50px;
        grid-column: 1;
        grid-row: 1;
    }
    
    .box2 {
        grid-column: 4;
        grid-row: 1;
        margin: 14px 0px 0px 0px;
    }
    
    .box2 img {
        margin-top: 10px;
        width: 26px;
    }
    
    .box2 .inputSearch {
        float: right;
    }
    
    .box3 {
        background: url(./assets/images/Girl.png);
        /* justify-self: end; */
        background-size: cover;
        margin-bottom: 50px;
        margin-right: -229px;
        margin-left: 216px;
        /* margin: 20px; */
        background-position: center;
        grid-column: 1/4;
        grid-row: 2/5;
    }
    
    .box4 {
        padding: 25px;
        margin-left: 78px;
        height: 400px;
        width: 480px;
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: rgb(19, 19, 19);
    }
    
    .box4 p {
        /* font-size: 60px; */
        color: aliceblue;
    }
    
    .box4Head {
        padding: 9px 0px 2px 39px;
        font-size: 60px;
        line-height: 1.2;
    }
    
    .createdBy {
        padding-left: 42px;
    }
    
    .date {
        margin-left: -2px;
        margin-top: -15px;
    }
    
    .box4Line {
        height: 3px;
        width: 40px;
        background: yellow;
        position: absolute;
        margin-top: -8px;
        transform: rotate(1deg);
    }
    
    .box5 {
        /* align-self: start; */
        grid-column: 1/4;
        grid-row: 1;
    }
    
    .navbar {
        margin: 33px 0px 0px 151px
    }
    
    .box5 a {
        /* align-self: start; */
        color: white;
        text-decoration: none;
        padding-left: 60px;
        font-size: 17px;
        font-family: 'Playfair Display', serif;
    }
    
    #logo {
        height: 100px;
        margin-left: 28px;
        padding: 16px;
    }
    
    .dots {
        margin-left: 47px;
        display: none;
    }
    
    .dot {
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }
    
    .box4 #yelowDot {
        background-color: yellow;
    }
    
    .calvi {
        margin: 0px -1px 0px -2px;
    }
    
    .calvi img {
        width: 100%;
        height: 400px;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
    }
    
    li {
        display: inline;
    }
    
    .slash {
        margin-left: 10px;
        height: 1px;
        width: 16px;
        background: yellow;
        position: absolute;
        margin-top: 10px;
        transform: rotate(-54deg);
    }
    
    input[type=text],
    select {
        background: url('./assets/images/icon.png') no-repeat left center;
        background-color: rgb(19, 19, 19);
        width: 95%;
        padding: 14px 31px;
        margin-top: 8px;
        margin-left: 5px;
        display: inline-block;
        border: 1px solid rgb(19, 19, 19);
        border-radius: 2px;
        box-sizing: border-box;
    }
    
    .contanier {
        margin-top: -4px;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
        justify-items: stretch;
        align-items: stretch;
        height: 686px;
        width: auto;
    }
    
    .heading {
        /* display: inline; */
        margin-top: 25px;
        margin-left: 270px;
        grid-row: 1;
        grid-column: 1;
    }
    
    #part1 {
        display: inline;
        font-size: 55px;
    }
    
    #part2 {
        margin-top: 10px;
        position: absolute;
        display: inline;
        font-size: 55px;
    }
    
    .card1 {
        background: url('./assets/images/cocktail.png');
        background-size: cover;
        background-position: center;
        grid-column: 1;
        margin-bottom: 250px;
        grid-row: 2;
        height: 460px;
        width: 343px;
        margin-left: 250px;
    }
    
    .card1Text {
        width: 150px;
        font-size: 20px;
        float: right;
        margin-right: -113px;
        margin-top: 80px;
    }
    
    .card2 {
        margin-top: -40px;
        margin-right: -100px;
        grid-row: 2;
    }
    
    .card21 {
        background: url('./assets/images/schwepes.JPG');
        background-size: cover;
        background-position: center;
        float: right;
        background-color: black;
        width: 425px;
        height: 273px;
    }
    
    .card21 p {
        margin-top: 154px;
        padding: 46px 68px 13px 35px;
        font-size: 20px;
        color: white;
    }
    
    .card3 {
        grid-row: 3;
        grid-column: 2;
    }
    
    .card31 {
        background: url('./assets/images/viski.JPG');
        background-size: cover;
        background-position: center;
        float: right;
        background-color: black;
        width: 425px;
        height: 273px;
        margin-right: -100px;
    }
    
    .card31 p {
        font-size: 20px;
        color: white;
        margin-top: 154px;
        padding: 46px 68px 13px 35px;
    }
    
    .black {
        margin-top: -27px;
        height: 500px;
        background-color: black;
    }
    
    .line {
        margin-left: 90px;
        margin-top: 13px;
        height: 2px;
        width: 550px;
        background: yellow;
        position: absolute;
        margin-top: 56px;
        transform: rotate(-12deg);
    }
    /* Media Queries */
    
    @media (max-width: 1280px) {
        /* .box2 .inputSearch {
        display: none;
    } */
        .box3 {
            margin-right: -173px;
        }
        .box4 {
            padding: 10px;
            height: 400px;
            ;
            width: 425px;
        }
        .box4Head {
            padding: 0px 0px 2px 38px;
        }
        .heading {
            margin-left: 160px;
        }
        .card1 {
            margin-left: 125px;
        }
        .card2 {
            margin-top: -40px;
        }
        .line {
            width: 500px
        }
    }
    
    @media (max-width: 1024px) {
        .box2 .inputSearch {
            display: none;
        }
        .box2 img {
            margin-top: 10px;
            margin-right: 15px;
            width: 26px;
        }
        .box3 {
            margin-right: -13px;
        }
        .box4 {
            padding: 0px;
            margin-left: 52px;
            width: 406px;
            height: 391px;
        }
        .box4Head {
            font-size: 54px;
        }
        .heading {
            margin-left: 151px;
        }
        .card1 {
            margin-left: 60px;
        }
        .card2 {
            margin-top: -40px;
        }
        .card21 {
            margin-right: -50px;
        }
        .card31 {
            margin-right: -150px;
        }
        .line {
            width: 390px;
        }
    }
    
    @media (max-width: 979px) {
        .box2 .inputSearch {
            display: none;
        }
        .box3 {
            margin-right: 0px;
        }
        .box5 a {
            font-size: 16px;
        }
        .heading {
            margin-top: 90px;
        }
        .card1 {
            margin-top: 10px;
            height: 402px;
            width: 311px;
        }
        .card1Text {
            margin-right: -119px;
        }
        .card21 {
            width: 409px;
            height: 254px;
        }
        .card31 {
            width: 409px;
            height: 254px;
        }
        .line {
            width: 370px;
        }
    }
    
    @media (max-width: 768px) {
        .wrapper {
            background: url(./assets/images/Girl.png);
            background-position: center;
            background-size: cover;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 1em;
            justify-items: stretch;
            align-items: stretch;
            height: 600px;
        }
        .box1 {
            height: 50px;
            grid-column: 1/5;
            grid-row: 1;
        }
        .box1 #logo {
            height: 92px;
        }
        .box2 .inputSearch {
            display: none;
        }
        /* For desktop: */
        .box3 {
            display: none;
            background-size: cover;
            background-position: center;
            grid-column: 1/5;
            grid-row: 1/5;
        }
        .box4 {
            margin-left: 0;
            float: left;
            grid-column: 1/2;
            grid-row: 4/5;
            border: 1px solid #333;
            background-color: rgb(19, 19, 19);
            height: 298px;
            width: 299px;
            margin-top: -56px;
        }
        .box4Head {
            font-size: 40px;
        }
        .box5 {
            display: none;
        }
        .calvi img {
            /* width: auto; */
            height: 300px;
        }
        .heading {
            margin-top: 25px;
            margin-left: 25px;
            grid-row: 1;
            grid-column: 1;
        }
        .contanier {
            margin-bottom: -127px;
        }
        .card1 {
            height: 331px;
            width: 269px;
            margin-left: 9px;
        }
        .card1Text {
            font-size: 21px;
            width: 155px;
            float: right;
            margin-right: -120px;
            margin-top: 40px;
            padding-right: 0px;
        }
        .card2 {
            margin-top: -35px;
            grid-row: 2;
        }
        .card21 {
            float: right;
            width: 339px;
            height: 227px;
        }
        .card21 p {
            padding-top: 161px;
            font-size: 16px;
            margin: 0px;
        }
        .card31 {
            float: right;
            width: 339px;
            height: 227px;
            margin-top: -225px;
        }
        .card31 p {
            margin-top: 120px;
            padding: 46px 65px 12px 23px;
            font-size: 16px;
        }
        .line {
            width: 272px;
        }
        .black {
            margin-top: 87px;
        }
    }
    
    @media (max-width: 500px) {
        .wrapper {
            background: url(./assets/images/Girl.png);
            background-position: center;
            background-size: cover;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 1em;
            justify-items: stretch;
            align-items: stretch;
            height: 600px;
        }
        .box1 {
            /*align-self:start;*/
            height: 50px;
            grid-column: 1/5;
            grid-row: 1;
        }
        /* For desktop: */
        .box3 {
            display: none;
            background-size: cover;
            background-position: center;
            grid-column: 1/5;
            grid-row: 1/5;
        }
        .box4 {
            height: 258px;
            width: 260px;
            margin: 0px;
            float: left;
            grid-column: 1/2;
            grid-row: 4/5;
            background-color: rgb(19, 19, 19);
        }
        .box4 p {
            font-size: 30px;
        }
        .createdBy {
            display: none;
        }
        .dots {
            display: block;
        }
        .calvi {
            width: auto;
            height: 300px;
            overflow: hidden;
        }
        .card21 p {
            padding-top: 139px;
            font-size: 25px;
            margin: 0px;
        }
        .calvi img {
            width: 600px;
        }
        .heading {
            margin-top: 25px;
            margin-left: 25px;
            grid-row: 1;
            grid-column: 1;
        }
        .card1 {
            height: 299px;
            width: 235px;
            margin-left: 0px;
        }
        .card1Text {
            font-size: 25px;
            width: 150px;
            float: right;
            margin-right: -118px;
            margin-top: 40px;
        }
        .card2 {
            margin-top: 53px;
            margin-left: 25px;
            grid-row: 3;
        }
        .card21 {
            background: url('./assets/images/schwepes.JPG');
            background-size: cover;
            background-position: center;
            float: none;
            background-color: black;
            width: 340px;
            height: 237px;
        }
        .card3 {
            display: none;
            ;
        }
        .line {
            width: 208px;
            margin-left: 182px;
        }
    }
    
    @media (max-width: 376px) {
        .wrapper {
            background: url(./assets/images/Girl.png);
            background-position: center;
            background-size: cover;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 1em;
            justify-items: stretch;
            align-items: stretch;
            height: 600px;
        }
        .box1 {
            height: 50px;
            grid-column: 1/5;
            grid-row: 1;
        }
        .box1 #logo {
            margin: 0px;
            height: 63px;
        }
        .box2 {
            grid-column: 3;
            grid-row: 1;
            margin-left: -44px;
        }
        .box2 img {
            margin-top: 4px;
            margin-right: 15px;
            width: 44px;
            height: 47px;
        }
        /* For desktop: */
        .box3 {
            margin: 0;
            display: none;
            background-size: cover;
            background-position: center;
            grid-column: 1/5;
            grid-row: 1/5;
        }
        .box4 {
            margin: 0px;
            float: left;
            grid-column: 1/2;
            grid-row: 4/5;
            background-color: rgb(19, 19, 19);
            height: 241px;
            width: 268px;
        }
        .box4 p {
            font-size: 30px;
        }
        .createdBy {
            display: none;
        }
        .dots {
            display: block;
        }
        .calvi {
            width: auto;
            height: 300px;
            ;
            overflow: hidden;
        }
        .calvi img {
            width: 577px;
        }
        .heading {
            margin-top: 25px;
            margin-left: 25px;
            grid-row: 1;
            grid-column: 1;
        }
        .card1 {
            height: 299px;
            width: 235px;
            margin-left: 0px;
        }
        .card1Text {
            font-size: 25px;
            width: 150px;
            float: right;
            margin-right: -118px;
            margin-top: 40px;
        }
        .card2 {
            margin-top: 53px;
            margin-left: 25px;
            grid-row: 3;
        }
        .card21 {
            background: url('./assets/images/schwepes.JPG');
            background-size: cover;
            background-position: center;
            float: none;
            background-color: black;
            width: 317px;
            height: 208px;
        }
        .card21 p {
            padding-top: 133px;
            font-size: 20px;
            margin: 0px;
        }
        .card3 {
            display: none;
            ;
        }
        .line {
            margin-left: 160px;
            width: 191px;
        }
    }
    
    @media (max-width: 360px) {
        .calvi img {
            width: 553px;
            height: 244px;
        }
        .contanier {
            margin-top: -56px;
        }
        .line {
            width: 245px;
        }
    }
    
    @media (max-width: 320px) {
        .calvi img {
            width: 500px;
            height: 244px;
        }
        .contanier {
            margin-top: -56px;
        }
        .card1Text {
            font-size: 20px;
        }
        .card21 {
            width: 275px;
            height: 178px;
        }
        .card21 p {
            padding-top: 113px;
            font-size: 17px;
        }
        .line {
            margin-left: 136px;
            width: 191px;
            margin-top: 41px;
            width: 163px;
        }
    }